.monsterweek {
  /* Sheet Tabs */
  /* Items List */
  /* Chips */
}
.monsterweek .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
  background: url("/systems/monsterweek/images/ui/paper-512.jpg") repeat;
}
.monsterweek .sheet-header {
  height: 110px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.monsterweek .sheet-header .profile-img {
  flex: 0 0 110px;
  height: 110px;
  margin-right: 10px;
}
.monsterweek .sheet-header .header-fields {
  flex: 1;
  height: 110px;
}
.monsterweek .sheet-header h1.charname {
  height: 55px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.monsterweek .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.monsterweek .rating {
  text-align: center;
}
.monsterweek .rating label {
  font-weight: bold;
}
.monsterweek .rating input {
  border: none;
}
.monsterweek .hunter-status {
  overflow: hidden;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  padding: 0 10px;
}
.monsterweek .hunter-status label.header {
  font-weight: bold;
}
.monsterweek .track {
  white-space: nowrap;
}
.monsterweek .sheet-body {
  border-top: 1px solid #AAA;
}
.monsterweek .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.monsterweek .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}
.monsterweek .tab-content {
  overflow: hidden;
}
.monsterweek .tab-content .tab {
  height: 100%;
  overflow-y: auto;
}
.monsterweek .editor,
.monsterweek .editor-content {
  height: 100%;
}
.monsterweek img {
  background-color: black;
}
.monsterweek .inventory-list {
  list-style: none;
  margin: 0;
  padding: 0 5px;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #7a7971;
}
.monsterweek .inventory-list .inventory-header {
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
  line-height: 24px;
}
.monsterweek .inventory-list .inventory-header h3 {
  margin: 0 -5px 0 0;
  padding-left: 5px;
  color: #191813;
  font-size: 20px;
  font-weight: 700;
  font-size: 16px;
}
.monsterweek .inventory-list .item-controls {
  flex: 0 0 18px;
  justify-content: flex-end;
}
.monsterweek .inventory-list .item-controls a {
  flex: 0 0 22px;
  font-size: 12px;
  text-align: center;
}
.monsterweek .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.monsterweek .item-list .item {
  min-height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  align-items: stretch;
}
.monsterweek .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.monsterweek .item-list .item-name {
  margin: 0;
  color: #191813;
}
.monsterweek .item-list .item-controls {
  flex: 0 0 36px;
}
.monsterweek .item-list .item-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  flex: 2;
  justify-content: flex-start;
}
.monsterweek .item-list .item-button {
  line-height: 1;
  font-size: 11px;
  flex: none;
  width: auto;
}
.monsterweek .chip {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 12px;
  line-height: 18px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
.monsterweek.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}
.monsterweek.sheet.item {
  min-width: 460px;
  min-height: 400px;
}
